<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>Chan {{ Chan_id }}</title>
	<link rel="stylesheet" href="{{ url_for('static', path='Chan.css') }}">
	<script src="/static/Chan.js" defer></script>
</head>
<body>

<div id="messages" tabindex="0"
	     data-server-id="{{ Server_id }}" data-chan-id="{{ Chan_id }}"
	     data-next-cursor="{{ Next_cursor }}">
	{% for Message in Messages %}
		<div class="message"
			data-message-id="{{ Message.message_id }}"
			data-user-name="{{ Message.user_name }}"
			data-date-creation="{{ Message.date_creation }}"
			data-edited="{{ Message.edited }}"
			data-reply-to="{{ Message.reply_to or '' }}"
			data-date-deletion="{{ Message.date_deletion or '' }}">
			{{ Message.content | e }}
		</div>
	{% endfor %}
</div>

</body>
</html>
