html, body {
	margin: 0;
	padding: 0;
}
body.no_scroll {
	overflow: hidden;
}
#Display_history {
	display: flex;
	flex-direction: column;
	height: 100%;
}

#messages {
	display: block;					/* stack messages vertically */
	padding: 0.5em;
}
#messages .message:nth-child(odd) {
	background-color: #f6f6f6;		/* light grey */
}
#messages .message:nth-child(even) {
	background-color: #ffffff
}

.date_separator {
	margin: 0.8em 0;
	display: flex;
	align-items: center;
	color: #2aa198;					/* teal */
	font-size: 0.9em;
}
.date_separator::before, .date_separator::after {
	content: "";
	flex: 1;
	height: 1px;
	background-color: #2aa198;
}
.date_separator::before {
	margin-right: 0.5em;
}
.date_separator::after {
	margin-left: 0.5em;
}

.message {
	margin-bottom: 2px;
	display: flex;
	flex-direction: row;			/* metadata and content_block side by side */
	align-items: flex-start;		/* top-align content */
	line-height: 1.4em;
}
.message .metadata {				/* timestamp + username **/
	margin-right: 0.5em;
	flex: none;						/* fixed width */
	display: flex;
	flex-direction: row;			/* stack time and user */
	align-items: flex-start;
	white-space: nowrap;
}
.message .time {
	margin-right: 0.25em;
}
.message .user {
	font-weight: bold;
	white-space: nowrap;
	margin-bottom: 1px;
}
.message .content_block {
	flex: 1;						/* take remaining space */
	display: flex;
	flex-direction: column;			/* stack text and image vertically */
}
.message .content_block .content {
	white-space: pre-wrap;			/* preserve spaces and line breaks */
	word-wrap: break-word;
	text-align: justify;
}

.message .content_block .attachments {
	margin-top: 0.2em;
	display: flex;
	flex-wrap: wrap;
	/* Prioritize saving vertical space, even if it means files buttons looking vertically awkward
	   next to larger images */
	align-items: flex-start;
	gap: 0.3em;
}

.message .content_block .one_image img {
	max-height: 350px;
	width: auto;
	border-radius: 0.5em;
	object-fit: contain;			/* display in full, maintain ratio by reducing */
}
.message .content_block .multiple_images {
	display: flex;
	flex-wrap: wrap;
	gap: 0.3em;
}
.message .content_block .multiple_images img {
	height: 150px;
	width: 150px;
	border-radius: 0.5em;
	object-fit: cover;				/* fill up container, maintain ratio by cropping */
	cursor: pointer;
}
#lightbox {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,0.90);
	display: none;
	align-items: center;
	justify-content: center;
	z-index: 9999;
}
#lightbox img {
	max-width: 100%;
	max-height: 100%;
	object-fit: contain;
	cursor: zoom-out;
}
#lightbox_image {
	cursor: grab;					/* shows hand when hover */
	transition: transform 0.05s ease-out; /* smooth zoom */
}
#lightbox_image:active {
	cursor: grabbing;
}

.file_attachments {
	display: flex;
	flex-direction: row;
	border-radius: 0.5em;
	padding: 0.3em;
	gap: 0.3em;
	background: #cccccc;
}
.file_attachment {
	display: flex;
	align-items: center;
	border-radius: 0.5em;
	padding: 0.3em 0.5em;
	background: white;
	color: #0074e3;					/* blue used by Discord for attachment links */
	text-decoration: none;
}
.file_attachment:hover {
	background: #000000;
	color: #dfffff;
}
.file_icon {
	font-size: 1.4em;
}
.file_name {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}
