html, body {
	margin: 0;
	padding: 0;
}
body.no_scroll {
	overflow: hidden;
}
#Display_history {
	display: flex;
	flex-direction: column;
	height: 100%;
}

#messages {
	display: block;					/* stack messages vertically */
	padding: 0.5em;
}
#messages .message:nth-child(odd) {
	background-color: #f6f6f6;		/* light grey */
}
#messages .message:nth-child(even) {
	background-color: #ffffff
}

.date_separator {
	display: flex;
	align-items: center;
	margin: 0.8em 0;
	color: #2aa198;					/* teal-blue */
	font-size: 0.9em;
}
.date_separator::before, .date_separator::after {
	content: "";
	flex: 1;
	height: 1px;
	background-color: #2aa198;
}
.date_separator::before {
	margin-right: 0.5em;
}
.date_separator::after {
	margin-left: 0.5em;
}

.message {
	display: flex;
	flex-direction: row;			/* metadata and content_block side by side */
	align-items: flex-start;		/* top-align content */
	margin-bottom: 2px;
	line-height: 1.4em;
}
.message .metadata {				/* timestamp + username **/
	flex: none;						/* fixed width */
	display: flex;
	flex-direction: row;			/* stack time and user */
	align-items: flex-start;		/* top align */
	margin-right: 0.5em;
	white-space: nowrap;
}
.message .time {
	margin-right: 0.25em;
}
.message .user {
	font-weight: bold;
	white-space: nowrap;
	margin-bottom: 1px;
}
.message .content_block {
	flex: 1;						/* take remaining space */
	display: flex;
	flex-direction: column;			/* stack text and image vertically */
}
.message .content_block .content {
	white-space: pre-wrap;			/* preserve spaces and line breaks */
	word-wrap: break-word;
	text-align: justify;
}

.message .content_block .attachments {
	display: flex;
	gap: 0.3em;
	margin-top: 0.2em;
	flex-wrap: wrap;
}
.message .content_block .one_image img {
	max-height: 350px;
	width: auto;
	border-radius: 0.5em;
	object-fit: contain;
}
.message .content_block .multiple_images img {
	height: 150px;
	width: 150px;
	border-radius: 0.5em;
	object-fit: cover;
	cursor: pointer;
}
#lightbox {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,0.90);
	display: none;
	align-items: center;
	justify-content: center;
	z-index: 9999;
}
#lightbox img {
	max-width: 100%;
	max-height: 100%;
	object-fit: contain;
	cursor: zoom-out;
}
#lightbox_image {
	cursor: grab; /* shows hand when hover */
	transition: transform 0.05s ease-out; /* smooth zoom */
}
#lightbox_image:active {
	cursor: grabbing;
}
